# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

defaults: &defaults
  docker:
    - image: circleci/node:13.8.0
  working_directory: ~/project-build

jobs:

  build:
    <<: *defaults
    steps:
      - checkout
      - run:
          name: Run install dependencies
          command: npm install
      - run:
          name: Run linter
          command: npm run lint

    test:
      <<: *defaults
      steps:
        - checkout
        - run:
            name: Run install dependencies
            command: npm install
        - run:
            name: Run tests
            command: npm run test

    analyze:
      <<: *defaults
      steps:
        - checkout
        - run:
            name: Run install dependencies
            command: npm install
        - run:
              name: Run tests
              command: npm audit


workflows:
  sample:
    jobs:
      - build
      - test
        requires:
          - build
      - analyze:
        requires:
          - test
